<div class="navbar">
  <%= image_tag "search.png", class: "search" %>
  <%= image_tag "menu.png", class: "menu" %>
  <%= image_tag "tworld.png", class: "logo" %>
  <img src="" alt="" />
</div>

  <div class="slick">
    <div class="slide-image">
      <img data-lazy="<%= image_path('slide1.png') %>"/>
      <div class="slide-title">
        Hot Spring
      </div>
      <div class="slide-text">
        Pasar unas vacaciones por Tokio nunca ha sido tan divertido. Colores de otoño inundan las
        calles. y no hay nada mejor que poder usarnos tu también.
      </div>
    </div>
    <div class="slide-image">
      <img data-lazy="<%= image_path('slide2.png') %>"/>
      <div class="slide-title">
        Hot Spring
      </div>
      <div class="slide-text">
        Pasar unas vacaciones por Tokio nunca ha sido tan divertido. Colores de otoño inundan las
        calles. y no hay nada mejor que poder usarnos tu también.
      </div>
    </div>
    <div class="slide-image">
      <img data-lazy="<%= image_path('slide3.png') %>"/>
      <div class="slide-title">
        Hot Spring
      </div>
      <div class="slide-text">
        Pasar unas vacaciones por Tokio nunca ha sido tan divertido. Colores de otoño inundan las
        calles. y no hay nada mejor que poder usarnos tu también.
      </div>
    </div>
</div>
